.toggle-sidebar {
  margin-right: 2rem;
}

.toggle-theme {
  padding: 1rem;
}

rux-global-status-bar {
  border-bottom: 1px solid var(--color-border-interactive-default);
}

rux-button {
  margin-bottom: 1.5rem;
}

rux-clock::part(container) {
  margin-top: auto;
  margin-bottom: auto;
}

#date-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
}

#date {
  color: var(--color-text-primary);
  font-size: 30px;
  text-align: right;
  text-wrap: nowrap;
}
