<div>
  <rux-global-status-bar
    app-state-color="tag3"
    username="Mr User Name"
    app-domain="NATWEST"
    app-name="Banking App"
    app-version="v1.0"
  >
    <rux-button class="toggle-sidebar" (click)="toggleSidenav()" slot="left-side" borderless>
      <rux-icon icon="apps"></rux-icon>
    </rux-button>

    <div slot="right-side" id="date-container">
      <!-- <span id="date">{{ time$ | async | date: 'EEEE dd/MM/yyyy' }}</span> -->
      <rux-clock
        timezone="Europe/London"
        hideLabels
        hideDate
        [dateIn]="time$ | async"
        static
      ></rux-clock>
    </div>

    <rux-button class="toggle-theme" (click)="toggleTheme()" slot="right-side" borderless>
      <rux-icon icon="brightness-{{ darkMode ? '7' : '2' }}"></rux-icon>
    </rux-button>
  </rux-global-status-bar>
</div>
