<h1>Upload CSV Data</h1>

<rux-tabs id="dataUploadTabs">
  <!-- Select Files -->
  <rux-tab
    id="selectFilesTab"
    [selected]="activeTab === 'selectFilesTab'"
    [disabled]="activeTab !== 'selectFilesTab'"
    >Select Files</rux-tab
  >

  <!-- Parse CSV -->
  <rux-tab
    id="parseCsvTab"
    [selected]="activeTab === 'parseCsvTab'"
    [disabled]="activeTab !== 'parseCsvTab'"
    >Parse CSV</rux-tab
  >

  <!-- Map Columns -->
  <rux-tab
    id="mapColumnsTab"
    [selected]="activeTab === 'mapColumnsTab'"
    [disabled]="activeTab !== 'mapColumnsTab'"
    >Map Columns</rux-tab
  >
</rux-tabs>

<rux-tab-panels id="dataUploadPanels" aria-labelledby="dataUploadTabs">
  <!-- Select Files -->
  <rux-tab-panel id="selectFilesPanel" aria-labelledby="selectFilesTab">
    @if (activeTab === 'selectFilesTab') {
      <app-drag-and-drop (fileData)="getFileData($event)"></app-drag-and-drop>
    }
  </rux-tab-panel>

  <!-- Parse CSV -->
  <rux-tab-panel id="parseCsvPanel" aria-labelledby="parseCsvTab">
    @if (activeTab === 'parseCsvTab') {
      <app-parse-csv [fileData]="fileData"></app-parse-csv>
    }
  </rux-tab-panel>

  <!-- Map Columns -->
  <rux-tab-panel id="mapColumnsPanel" aria-labelledby="mapColumnsTab">
    @if (activeTab === 'mapColumnsTab') {
      <app-map-columns
        [columns]="columns"
        (cancel)="cancelMap()"
        (submit)="handleMappedColumns($event)"
      ></app-map-columns>
    }
  </rux-tab-panel>
</rux-tab-panels>
