<div id="container">
  @if (errMsg) {
    <rux-notification
      open=""
      status="critical"
      [message]="errMsg"
      (ruxclosed)="bannerClosed()"
    ></rux-notification>
  }

  <div
    id="drop-zone"
    (drop)="onFileDropped($event.dataTransfer); $event.preventDefault()"
    (dragover)="$event.preventDefault()"
  >
    <p>Drag & Drop CSV files here</p>

    <rux-button (click)="fileInput.click()" id="select-files">Select CSV Files</rux-button>
    <input
      #fileInput
      type="file"
      multiple
      style="display: none"
      (change)="fileBrowseHandler($event)"
    />
  </div>

  @if (files.length) {
    <div id="files-container">
      <div>
        <h3 id="upload-header">Files to upload:</h3>
      </div>
      <div id="file-list-container">
        <ul>
          @for (file of files; track file.name) {
            <li>{{ file.name }}</li>
          }
        </ul>
      </div>
      <div id="button-container">
        <rux-button (click)="cancel()" secondary>Cancel</rux-button>
        <rux-button (click)="uploadFiles()" [disabled]="uploading">
          {{ uploading ? 'Uploading...' : 'Upload' }}
        </rux-button>
      </div>
    </div>
  }
</div>
