#container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

#drop-zone {
  display: grid;
  align-items: end;
  height: 500px;
  border: 2px dashed #007bff;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

#select-files {
  margin-left: auto;
  margin-right: auto;
}

#drop-zone:hover {
  // background: #e6f0ff;
}

#files-container {
  display: grid;
  grid-template-columns: 1fr;
}

#file-list-container {
  text-align: left;
}

#button-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}

#upload-header {
  text-align: left;
}
