.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

.drop-zone {
  display: grid;
  align-items: end;
  height: 500px;
  border: 2px dashed #007bff;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.drop-zone:hover {
  background: #e6f0ff;
}
