#container {
  margin: 50px auto;
  text-align: center;
  max-width: 700px;
}

#dragAndDrop_dropZone {
  display: grid;
  align-items: end;
  height: 500px;
  border: 2px dashed var(--color-border-interactive-default);
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.7s;
}

#dragAndDrop_selectFilesButton {
  margin-left: auto;
  margin-right: auto;
}

#dragAndDrop_selectFilesInput {
  display: none;
}

#dragAndDrop_dropZone:hover {
  background: var(--color-background-base-hover);
}

#files-container {
  display: grid;
  grid-template-columns: 1fr;
}

#file-list-container {
  text-align: left;
}

#button-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}

#upload-header {
  text-align: left;
}

#dragAndDrop_errorBanner {
  margin-bottom: 30px;
}
