<div id="container">
  @if (errMsg) {
    <div id="dragAndDrop_errorBanner">
      <rux-notification
        open=""
        status="critical"
        [message]="errMsg"
        (ruxclosed)="bannerClosed()"
      ></rux-notification>
    </div>
  }

  <div
    id="dragAndDrop_dropZone"
    (drop)="onFileDropped($event.dataTransfer); $event.preventDefault()"
    (dragover)="$event.preventDefault()"
  >
    <h2>Drag and drop CSV files here</h2>

    <rux-button (click)="fileInput.click()" id="dragAndDrop_selectFilesButton"
      >Select CSV Files</rux-button
    >
    <input
      id="dragAndDrop_selectFilesInput"
      #fileInput
      type="file"
      multiple
      (change)="fileBrowseHandler($event)"
    />
  </div>

  @if (files.length > 0) {
    <div id="files-container">
      <div>
        <h3 id="upload-header">Files to upload:</h3>
      </div>
      <div id="file-list-container">
        <ul>
          @for (file of files; track file.name) {
            <li>{{ file.name }}</li>
          }
        </ul>
      </div>
      <div id="button-container">
        <rux-button (click)="cancel()" secondary>Cancel</rux-button>
        <rux-button (click)="uploadFiles()" [disabled]="uploading">
          {{ uploading ? 'Uploading...' : 'Upload' }}
        </rux-button>
      </div>
    </div>
  }
</div>
