@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css';

@import '@fontsource/roboto/300.css'; /* Light */
@import '@fontsource/roboto/400.css'; /* Regular */
@import '@fontsource/roboto/500.css'; /* Medium */
@import '@fontsource/roboto/700.css'; /* Bold */

/* Set Roboto as the default font for the whole app */
body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Astro UXDS - optional global tweaks */
input,
button,
textarea,
select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
