<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @for (col of columnHeaders; track col) {
    <div class="form-row">
      <rux-select
        [id]="`mapColumns_ruxSelect_${col.camel}`"
        [inputId]="`mapColumns_input_${col.camel}`"
        [labelId]="`mapColumns_label_${col.camel}`"
        [name]="`mapColumns_select_${col.camel}`"
        [label]="col.label"
        [value]="form.controls[col.camel].value"
        [invalid]="submitted && form.controls[col.camel]?.invalid"
        [errorText]="submitted && form.controls[col.camel]?.invalid ? 'Please select a type' : ''"
        (ruxchange)="selectChange($event, col.camel)"
      >
        @for (type of columnTypes; track type) {
          <rux-option [value]="type" [label]="type | titlecase"></rux-option>
        }
      </rux-select>
    </div>
  }

  <div class="submit-button">
    <rux-button type="button" secondary (click)="goBack()">Back</rux-button>
    <rux-button type="submit">Submit</rux-button>
  </div>
</form>
